html, body {
    font-family: sans-serif;
    background-image: url('assets/noise.png');
    margin: 0;
    height: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    height: 100%;
}