html, body {
    font-family: sans-serif;
    background-image: url('assets/noise.png');
    margin: 0;
    height: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    height: 100%;

}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 

.fade-main {
    animation-duration: 4s;
    animation-name: fadeIn;
}

.fade-text {
    animation-duration: 8s;
    animation-name: fadeIn;
}

.fade-note {
    animation-duration: 14s;
    animation-name: fadeIn;
    font-size: 0.7rem;
    /* add time to start after previous animation ends */
}

.space {
    /* add some space from previous paragraph */
}

@font-face {
    font-family: 'Julius Sans One';
    src: url(assets/JuliusSansOne-Regular.ttf);
}

h1 {
    text-transform: uppercase;
    font-family: 'Julius Sans One';
    font-weight: 100;
}

